<a href="https://colab.research.google.com/github/snehithakrishna23/Development-of-Interactive-Cyber-Threat-Visualization-Dashboard/blob/main/SQl_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL_Task

### SQL Definition
Structured Query Language (SQL) is the standard language for managing and manipulating relational databases.

### SQL Use
Used to store, retrieve, manage, and organize data efficiently within relational databases.

### Real-world Usage
Used in applications like social media platforms, e-commerce websites, and banking systems.

### DDL (Data Definition Language)
Commands for defining and modifying database structure.
Examples: `CREATE`, `ALTER`, `DROP`

### DML (Data Manipulation Language)
Commands for managing data.
Examples: `SELECT`, `INSERT`, `UPDATE`, `DELETE`

### DCL (Data Control Language)
Commands for controlling access.
Examples: `GRANT`, `REVOKE`

### TCL (Transaction Control Language)
Commands for managing transactions.
Examples: `COMMIT`, `ROLLBACK`

## SQL Data Types Notes

- **INT**: Used for whole numbers.
- **VARCHAR**: Used for variable-length text.
- **DATE**: Used for date values.
- **FLOAT**: Used for decimal numbers.
- **BOOLEAN**: Stores TRUE or FALSE.

In [5]:
import sqlite3
import pandas as pd

# Create SQLite connection (in-memory)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create Students table
cursor.execute("""
CREATE TABLE Students (
    ID INTEGER PRIMARY KEY,
    Name TEXT,
    Age INTEGER,
    Gender TEXT,
    Department TEXT,
    Marks INTEGER,
    City TEXT
)
""")

# Insert sample records
students_data = [
    (1, 'Amit', 20, 'Male', 'CSE', 85, 'Hyderabad'),
    (2, 'Sneha', 21, 'Female', 'ECE', 90, 'Bangalore'),
    (3, 'Rahul', 22, 'Male', 'ME', 78, 'Chennai'),
    (4, 'Anita', 20, 'Female', 'CSE', 92, 'Mumbai')
]

cursor.executemany("INSERT INTO Students VALUES (?, ?, ?, ?, ?, ?, ?)", students_data)
conn.commit()

# Fetch data
df = pd.read_sql_query("SELECT * FROM Students", conn)
df

   ID   Name  Age  Gender Department  Marks       City
0   1   Amit   20    Male        CSE     85  Hyderabad
1   2  Sneha   21  Female        ECE     90  Bangalore
2   3  Rahul   22    Male         ME     78    Chennai
3   4  Anita   20  Female        CSE     92     Mumbai

Select with where condition

SELECT: Used to retrieve specific columns or records from a table.

WHERE: Used to filter records based on conditions.

AND: Used to combine multiple conditions in a query.

In [6]:
# SELECT specific columns from the Students table
query1 = "SELECT Name, Department, Marks FROM Students"
df1 = pd.read_sql_query(query1, conn)
display(df1)

# SELECT students who scored more than 80 marks using WHERE clause
query2 = "SELECT * FROM Students WHERE Marks > 80"
df2 = pd.read_sql_query(query2, conn)
display(df2)

# SELECT students from CSE department using WHERE condition
query3 = "SELECT * FROM Students WHERE Department = 'CSE'"
df3 = pd.read_sql_query(query3, conn)
display(df3)

# SELECT students with marks greater than 80 AND age less than 22
query4 = "SELECT * FROM Students WHERE Marks > 80 AND Age < 22"
df4 = pd.read_sql_query(query4, conn)
display(df4)

    Name Department  Marks
0   Amit        CSE     85
1  Sneha        ECE     90
2  Rahul         ME     78
3  Anita        CSE     92

   ID   Name  Age  Gender Department  Marks       City
0   1   Amit   20    Male        CSE     85  Hyderabad
1   2  Sneha   21  Female        ECE     90  Bangalore
2   4  Anita   20  Female        CSE     92     Mumbai

   ID   Name  Age  Gender Department  Marks       City
0   1   Amit   20    Male        CSE     85  Hyderabad
1   4  Anita   20  Female        CSE     92     Mumbai

   ID   Name  Age  Gender Department  Marks       City
0   1   Amit   20    Male        CSE     85  Hyderabad
1   2  Sneha   21  Female        ECE     90  Bangalore
2   4  Anita   20  Female        CSE     92     Mumbai

## SQL Aggregate Functions

Aggregate functions perform calculations on multiple rows of a table and return a single value.

### Common Aggregate Functions
- **COUNT()**  Returns the number of rows
- **SUM()**  Returns the total of a numeric column
- **AVG()**  Returns the average value
- **MIN()**  Returns the smallest value
- **MAX()**  Returns the largest value

Aggregate functions are commonly used with the `GROUP BY` clause.

In [ ]:
import pandas as pd

# COUNT
count_df = pd.read_sql_query(
    "SELECT COUNT(*) AS Total_Students FROM Students", conn
)

# SUM
sum_df = pd.read_sql_query(
    "SELECT SUM(Marks) AS Total_Marks FROM Students", conn
)

# AVG
avg_df = pd.read_sql_query(
    "SELECT AVG(Marks) AS Average_Marks FROM Students", conn
)

# MIN
min_df = pd.read_sql_query(
    "SELECT MIN(Marks) AS Minimum_Marks FROM Students", conn
)

# MAX
max_df = pd.read_sql_query(
    "SELECT MAX(Marks) AS Maximum_Marks FROM Students", conn
)

# GROUP BY Department
dept_df = pd.read_sql_query(
    """
    SELECT Department, AVG(Marks) AS Avg_Marks
    FROM Students
    GROUP BY Department
    """,
    conn
)

# GROUP BY Gender
gender_df = pd.read_sql_query(
    """
    SELECT Gender, COUNT(*) AS Student_Count
    FROM Students
    GROUP BY Gender
    """,
    conn
)

# Display all results
display(count_df)
display(sum_df)
display(avg_df)
display(min_df)
display(max_df)
display(dept_df)
display(gender_df)

 GROUP BY

GROUP BY is used to group rows that have the same values in a column and then apply aggregate functions (COUNT, SUM, AVG, MIN, MAX) on each group.

 HAVING

HAVING is used to filter groups after aggregation.
It works only with GROUP BY and aggregate functions.

In [ ]:
import pandas as pd

# 1 GROUP BY (Grouping rows)
group_by_df = pd.read_sql_query(
    """
    SELECT Department, AVG(Marks) AS Avg_Marks
    FROM Students
    GROUP BY Department
    """,
    conn
)

# 2 WHERE + GROUP BY
# WHERE filters ROWS before grouping
where_group_df = pd.read_sql_query(
    """
    SELECT Department, AVG(Marks) AS Avg_Marks
    FROM Students
    WHERE Marks > 80
    GROUP BY Department
    """,
    conn
)

# 3 GROUP BY + HAVING
# HAVING filters GROUPS after aggregation
having_df = pd.read_sql_query(
    """
    SELECT Department, AVG(Marks) AS Avg_Marks
    FROM Students
    GROUP BY Department
    HAVING AVG(Marks) > 85
    """,
    conn
)

# Display outputs
print("GROUP BY only")
display(group_by_df)

print("WHERE + GROUP BY (row-level filter)")
display(where_group_df)

print("GROUP BY + HAVING (group-level filter)")
display(having_df)

SQL ORDER BY and LIMIT

ORDER BY
Sorts the result set in ascending or descending order based on one or more columns.

ASC: Sorts data in ascending order (default)

DESC: Sorts data in descending order

LIMIT
Restricts the number of records displayed in the output.

In [7]:
# ORDER students by Marks in ascending order
query1 = "SELECT * FROM Students ORDER BY Marks ASC"
df1 = pd.read_sql_query(query1, conn)
display(df1)

# ORDER students by Marks in descending order
query2 = "SELECT * FROM Students ORDER BY Marks DESC"
df2 = pd.read_sql_query(query2, conn)
display(df2)

# Display only top 3 students based on highest marks
query3 = "SELECT * FROM Students ORDER BY Marks DESC LIMIT 3"
df3 = pd.read_sql_query(query3, conn)
display(df3)

   ID   Name  Age  Gender Department  Marks       City
0   3  Rahul   22    Male         ME     78    Chennai
1   1   Amit   20    Male        CSE     85  Hyderabad
2   2  Sneha   21  Female        ECE     90  Bangalore
3   4  Anita   20  Female        CSE     92     Mumbai

   ID   Name  Age  Gender Department  Marks       City
0   4  Anita   20  Female        CSE     92     Mumbai
1   2  Sneha   21  Female        ECE     90  Bangalore
2   1   Amit   20    Male        CSE     85  Hyderabad
3   3  Rahul   22    Male         ME     78    Chennai

   ID   Name  Age  Gender Department  Marks       City
0   4  Anita   20  Female        CSE     92     Mumbai
1   2  Sneha   21  Female        ECE     90  Bangalore
2   1   Amit   20    Male        CSE     85  Hyderabad

SQL JOIN

JOIN
Used to combine rows from two or more tables based on a related column between them.

Types of JOIN

INNER JOIN
Returns only the matching records from both tables.

LEFT JOIN
Returns all records from the left table and the matching records from the right table.
If there is no match, the result from the right table will be NULL.

In [ ]:
# Create Departments table
cursor.execute("""
CREATE TABLE Departments (
    Department TEXT PRIMARY KEY,
    HOD TEXT
)
""")

# Insert records into Departments table
cursor.executemany("""
INSERT INTO Departments VALUES (?, ?)
""", [
    ('CSE', 'Dr. Kumar'),
    ('ECE', 'Dr. Rao'),
    ('IT', 'Dr. Meena'),
    ('EEE', 'Dr. Sharma')
])

# INNER JOIN between Students and Departments
query1 = """
SELECT Students.Name, Students.Department, Departments.HOD
FROM Students
INNER JOIN Departments
ON Students.Department = Departments.Department
"""
df1 = pd.read_sql_query(query1, conn)
display(df1)

# LEFT JOIN between Students and Departments
query2 = """
SELECT Students.Name, Students.Department, Departments.HOD
FROM Students
LEFT JOIN Departments
ON Students.Department = Departments.Department
"""
df2 = pd.read_sql_query(query2, conn)
display(df2)

SQL SELF JOIN and OUTER JOIN

SELF JOIN
A join where a table is joined with itself.
It is useful for comparing rows within the same table.

OUTER JOIN
Returns matching records and also non-matching records from one or both tables.

Types of OUTER JOIN

LEFT OUTER JOIN
Returns all records from the left table and the matching records from the right table.
If there is no match, the result from the right table will be NULL.

RIGHT OUTER JOIN
Returns all records from the right table and the matching records from the left table.
If there is no match, the result from the left table will be NULL.

In [ ]:
# SELF JOIN on Students table to compare students from the same department
query1 = """
SELECT A.Name AS Student1, B.Name AS Student2, A.Department
FROM Students A
JOIN Students B
ON A.Department = B.Department
AND A.ID <> B.ID
"""
df1 = pd.read_sql_query(query1, conn)
display(df1)

# LEFT OUTER JOIN between Students and Departments
query2 = """
SELECT Students.Name, Students.Department, Departments.HOD
FROM Students
LEFT OUTER JOIN Departments
ON Students.Department = Departments.Department
"""
df2 = pd.read_sql_query(query2, conn)
display(df2)

SQL Subquery

A subquery is a query written inside another SQL query.
It is also known as a nested query.

A subquery is executed first, and its result is then used by the main query.

Subqueries can be used in the:

SELECT clause

WHERE clause

FROM clause

Purpose of Subquery

To retrieve intermediate results for the main query

To filter data based on results of another query

To simplify complex SQL queries

To avoid creating temporary tables

In [ ]:
# Select students who scored more than the average marks
query1 = """
SELECT *
FROM Students
WHERE Marks > (
    SELECT AVG(Marks)
    FROM Students
)
"""
df1 = pd.read_sql_query(query1, conn)
display(df1)

VIEW: A virtual table created using a SELECT query.

In [ ]:
# Create a view for students with marks above 80
cursor.execute("""
CREATE VIEW HighScorers AS
SELECT Name, Department, Marks
FROM Students
WHERE Marks > 80
""")

# Retrieve data from the view
df = pd.read_sql_query("SELECT * FROM HighScorers", conn)
display(df)

TRANSACTION: A set of SQL operations executed as a single unit

In [ ]:
# Update marks of a student (transaction starts automatically)
cursor.execute("UPDATE Students SET Marks = 90 WHERE ID = 2")

# Rollback the transaction
conn.rollback()

# Display table after rollback
df = pd.read_sql_query("SELECT * FROM Students", conn)
display(df)